*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem 2rem;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

  .navbar.active .nav-links {
    display: flex;
  }
